<% if current_user.try(:id) == @post.user_id %>
    <h1>Editing Post</h1>

    <%= render 'form', post: @post %>

    <%= link_to 'Show', @post %> |
    <%= link_to 'Back', posts_path %>
<% else %>
<p>Você não pode acessar esta página!</p>
<% end %>